@model LoanBook.Models.Book

@{
    ViewData["Title"] = "Details";
}

<component type="typeof(BookDetails)" render-mode="ServerPrerendered" param-BookId = "@Model.BookId" />

<div>
    @if(User.IsInRole("Admin")){
           <button class="btn btn-success"><a asp-action="Edit" asp-route-id="@Model.BookId" style="color: white;">Edit</a></button>
    }

   <button class="btn btn-danger"><a asp-action="Index" style="color: white;">Back to List</a></button>
</div>

