@model List<XtendUser>
@{
    ViewData["Title"] = "Registered Users";
}


<h1>List of Registered Users Without Roles</h1>

<component type="typeof(MembersList)" render-mode="ServerPrerendered" />




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    function changeRole(userId)
    {
        $.ajax({
            type: "POST",
            url: "/RegisteredUser/ChangeRole",
            data: { userId: userId },
            success: function () {
                alert("User role changed successfully!");
                location.reload(); 
            },
            error: function () {
                alert("An error occurred while changing user role.");
            }
        });
    }
</script>
