@page "/BookDetails/{BookId:int}"
@inject NavigationManager NavigationManager
@inject BookServices bookServices

<h1>Book Details</h1>

@if (Book != null)
{
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Author Name
        </dt>
        <dd class = "col-sm-10">
            @Book.AuthorName
        </dd>
        <dt class = "col-sm-2">
            Title
        </dt>
        <dd class = "col-sm-10">
            @Book.Title
        </dd>
        <dt class = "col-sm-2">
            Published Year
        </dt>
        <dd class = "col-sm-10">
            @Book.PublishedYear
        </dd>
        <dt class = "col-sm-2">
            Quantity
        </dt>
        <dd class = "col-sm-10">
            @Book.Quantity
        </dd>
    </dl>
</div>

}
else
{
    <p>Book not found.</p>
}

@code {
    [Parameter]
    public int BookId { get; set; }

    private Book Book = new Book();

    protected override async Task OnInitializedAsync()
    {
        Book = await bookServices.GetBookDetailAsync(BookId);
    }
}