@page "/RazorBooks"
@rendermode InteractiveServer
@inject BookServices bookServices
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>List of Books</PageTitle>

<div class="text_center">
@if (books == null) {
  <p><em>Loading...</em></p>
} else {
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author Name</th>
        <th>Published Year</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in books)
      {
        @if(item.Quantity > 0){
          <tr>
            <td>@item.Title</td>
            <td>@item.AuthorName</td>
            <td>@item.PublishedYear</td>
            <td>@item.Quantity</td>
            <td>
              @if (IsAdmin){
                <a  href="Books/Edit/@item.BookId">Edit |</a>
                <a href="Books/Delete/@item.BookId">Delete |</a> 
              }
            @if(IsMember || IsAdmin){
            <a href="Books/ConfirmLoan/@item.BookId"> Rent |</a>
            }
            <a  href="/Books/Details/@item.BookId"> Details</a> 


            </td>
          
          </tr>
        }

      }
    </tbody>
  </table>
}

</div>






@code {
    List<Book> books = new List<Book>();
    bool IsAdmin;
    bool IsMember;
    protected override async Task OnInitializedAsync()
    {
        books = await bookServices.GetBookListAsync();
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        IsAdmin = user.IsInRole("Admin");
        IsMember = user.IsInRole("Member");
    }
}